@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/barlow-v5-latin-regular.woff2') format('woff2'),
    url('../fonts/barlow-v5-latin-regular.woff') format('woff');
}
@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/barlow-v5-latin-700.woff2') format('woff2'),
    url('../fonts/barlow-v5-latin-700.woff') format('woff');
}
@font-face {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/fraunces-v10-latin-regular.woff2') format('woff2'),
    url('../fonts/fraunces-v10-latin-regular.woff') format('woff');
}
@font-face {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url('../fonts/fraunces-v10-latin-900.woff2') format('woff2'),
    url('../fonts/fraunces-v10-latin-900.woff') format('woff');
}

*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
}

.container{
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

h1, h2, h3, h4, p{
    margin: 0;
    padding: 0;
}

/* header */
.header {
    margin-top: 10px;
    margin-bottom: 43px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__link {
    display: inline-block;
}

.header__logo-img {
    width: 236px;
    height: 26px;
    vertical-align: middle;
}

.navbar {
}

.header__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.header__item {
}

.header__nav-link {
    text-decoration: none;
    font-family: Barlow, Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888F;
}

.header__nav-link:hover{
    color: #333D4B;
}

.header__nav-link:active{
    opacity: 0.8;
}

.header__nav-link--active{
    color: #333D4B;
}

.header__nav-link + .header__nav-link {
    margin-left: 33px;
}